<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Books</title>
</head>
<body>
    <div class="container">
        <div class="left_form">
            <h2>Title: {{book.title}} </h2>
            <p>Favorited by:</p>
            {% for author in book.authors_who_favorited %}
            <p>{{author.name}}</p>
            {% endfor %}
            <br>
            <a class="btn btn-primary" href="/" role="button">Home</a>
            <br>
        </div>
        <div class="right_card">
            <h2>Add Book's Favorite</h2>
            <form action="/join/author" method="post">
                <input type="hidden" name="book_id" value="{{book.id}}">
                <label for="
                author_id">Author:</label>
                <select name="author_id">
                    {% for author in unfavorited_authors %}
                    <option value="{{author.id}}">{{author.name}}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" class="btn btn-primary" value="Add">
            </form>
            <br>
        </div>
    </div>
</body>
</html>